<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro de Usuários</title>
        <link rel="stylesheet" th:href="@{/stylesheet.css}">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    </head>
<body>
    <h1>Cadastro de Usuário</h1>
    <form th:action="@{/usuarios/salvar}" method="post" th:object="${usuario}">
        <input type="hidden" th:field="*{idUsuario}">
        
        <label for="nomeUsuario">Nome:</label>
        <input type="text" th:field="*{nomeUsuario}">

        <label for="emailUsuario">Email:</label>
        <input type="text" th:field="*{emailUsuario}">

        <label for="CPFUsuario">CPF:</label>
        <input type="text" th:field="*{CPFUsuario}">

        <label for="loginUsuario">Login:</label>
        <input type="text" th:field="*{loginUsuario}">

        <label for="senhaUsuario">Senha:</label>
        <input type="password" th:field="*{senhaUsuario}">

        <input type="submit" value="Salvar">

    </form>
</body>
</html>