<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Categorias</title>
    <link rel="stylesheet" th:href="@{/stylesheet.css}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Cadastro de Categorias</h1>
    <form th:action="@{/categorias/salvar}" method="post" th:object="${categoria}">
        <label for="nomeCategoria">Nome</label>
        <input
        type="text" 
        id="nomeCategoria"
        name="nomeCategoria"
        th:field="*{nomeCategoria}"
        >

        <label for="descricaoCategoria">Descrição</label>
        <input
        type="text"
        id="descricaoCategoria"
        name="descricaoCategoria"
        th:field="*{descricaoCategoria}"
        >

        <button type="submit">Salvar Categoria</button>
    </form>
</body>
</html>