<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto All Things</title>
    <link rel="stylesheet" th:href="@{/stylesheet.css}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Sistema All Things</h1>
    <h3><a href="/produtos/listar" class="botao">
        Gerenciar produtos</a></h3>

    <h3><a href="/clientes/listar" class="botao">
        Gerenciar clientes
    </a></h3>

    <h3><a href="/fornecedores/listar" class="botao">
        Gerenciar fornecedores
    </a></h3>

    <h3>
        <a href="/categorias/listar" class="botao">
            Gerenciar Categorias
        </a>
    </h3>
</body>
</html>