<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema All Things</title>
        <link rel="stylesheet" th:href="@{/stylesheet.css}">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    </head>
<body>

    <h1>Sistema Allthings</h1>
    <h2>ERP - Enterprise Resource Planning</h2>

    <form action="/login" method="get">
        <button type="submit">Acesso ao Sistema</button>
    </form>

    <form action="/usuarios/criar" method="get">
        <button type="submit">Cadastre-se</button>
    </form>
    
    
</body>
</html>